@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
body{
    margin: 0;
    padding:0;
    font-family: 'Bree Serif', serif;
}

section{
    width:100%;
    height: 100vh;
    /* background:%f00; */
    background: radial-gradient(#2d0000,#000);
}
.isometric{
    position: absolute;
    top:50%;
    left:50%;
    width:350px;
    height: 350px;
    background:url(p2.jpg);
    background-size: cover;
    transform: translate(-50%,-50%) rotateX(45deg) rotateZ(-45deg);
    transform-style: preserve-3d;
    transition: .5s;
    box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 250px rgba(255,0,0, 1);
    animation: animate 2s linear infinite;

}
.isometric:hover{
    background:url(com.jpg);
    background-size: cover;
    transform: translate(-50%,-50%) rotateX(0) rotateZ(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.5);
    animation: none;
}

.isometric:before{
    content: '';
    width:100%;
    height: 50px;
    position: absolute;
    bottom: -50px;
    left:0;
    background: linear-gradient(#1b1b1b,#ce0000);
    transform-origin: top;
    transform: skewX(-45deg) scaleY(0.6);
    transition: .5s;
}
.isometric:hover:before{
    transform: skewX(-45deg) scaleY(0);
}
.isometric:after{
    content: '';
    width:50px;;
    height: 100%;
    position: absolute;
    top: 30px;
    left: -30px;
    background: linear-gradient(to left, #1b1b1b,#ce0000);
    transform-origin: left;
    transform: skewY(-45deg) scaleX(0.6);
    transition: .5s;
}

.isometric:hover:after{
    top: 0;
    left: 0;
    transform: skewY(-45deg) scaleX(0);
}

@keyframes animate{
    0%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 250px rgba(255,0,0, 1);
    }
    20%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 150px rgba(255,0,0, 1);
    }
    40%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 200px rgba(255,0,0, 1);
    }
    60%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 120px rgba(255,0,0, 1);
    }
    80%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 190px rgba(255,0,0, 1);
    }
    100%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 250px rgba(255,0,0, 1);
    }
    
    
}