/*this is  body style*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
body{
    margin: 0;
    padding:0;
    font-family: 'Bree Serif', serif;
}

section{
    width:100%;
    height: 100vh;
    /* background:%f00; */
    background: radial-gradient(#2d0000,#000);
}
.isometric{
    position: absolute;
    top:50%;
    left:50%;
    width:350px;
    height: 350px;
    background:url(img/p2.jpg);
    background-size: cover;
    transform: translate(-50%,-50%) rotateX(45deg) rotateZ(-45deg);
    transform-style: preserve-3d;
    transition: .5s;
    box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 250px rgba(255,0,0, 1);
    animation: animate 2s linear infinite;

}
.isometric:hover{
    background:url(img/mypic.jpg);
    background-size: cover;
    transform: translate(-50%,-50%) rotateX(0) rotateZ(0);
    box-shadow: 0 20px 20px rgba(0,0,0,0.5);
    animation: none;
    -webkit-box-shadow: 0px 1px 115px 13px rgba(224,0,0,0.76);
-moz-box-shadow: 0px 1px 115px 13px rgba(224,0,0,0.76);
box-shadow: 0px 1px 115px 13px rgba(224,0,0,0.76);
}

.isometric:before{
    content: '';
    width:100%;
    height: 50px;
    position: absolute;
    bottom: -50px;
    left:0;
    background: linear-gradient(#1b1b1b,#ce0000);
    transform-origin: top;
    transform: skewX(-45deg) scaleY(0.6);
    transition: .5s;
}
.isometric:hover:before{
    transform: skewX(-45deg) scaleY(0);
}
.isometric:after{
    content: '';
    width:50px;;
    height: 100%;
    position: absolute;
    top: 30px;
    left: -30px;
    background: linear-gradient(to left, #1b1b1b,#ce0000);
    transform-origin: left;
    transform: skewY(-45deg) scaleX(0.6);
    transition: .5s;
}

.isometric:hover:after{
    top: 0;
    left: 0;
    transform: skewY(-45deg) scaleX(0);
}

@keyframes animate{
    0%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 250px rgba(255,0,0, 1);
    }
    20%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 150px rgba(255,0,0, 1);
    }
    40%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 200px rgba(255,0,0, 1);
    }
    60%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 120px rgba(255,0,0, 1);
    }
    80%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 190px rgba(255,0,0, 1);
    }
    100%{
        box-shadow: -50px 50px 80px rgba(0,0,0,0.8), -80px 80px 250px rgba(255,0,0, 1);
    }
    
    
}
/*this is nav style*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
}
.menu-toggle{
    width:50px;
    height:50px;
    background: rgb(216, 0, 0);
    position: absolute;
    top: 0;
    right:0;
    cursor: pointer;
 
    z-index: 1;
    transition: .5s;
}
.menu-toggle span{
    position:absolute;
    display: block;
    height:4px;
    background: #262626;
    width:60%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:.5s;
}

.menu-toggle span:nth-child(1){
    top:30%;
}

.menu-toggle span:nth-child(3){
    top:70%;

}

.menu-toggle.active span:nth-child(1){
    background: black;
    
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
}
.menu-toggle.active span:nth-child(2){
    opacity: 0;
}
.menu-toggle.active span:nth-child(3){
    background: black;
    
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
}


nav{
    position: absolute;
    top: 0;
    right: -100%;
    height:50px;
    transition: .5s;
}
nav.active{
   right:50px;
}
nav ul{
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,.5);
    display:flex;

}

nav ul li{
    list-style: none;  
}

nav ul li a{
    display:block;
    height: 50px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 20px;
    color: #f00;
    text-decoration:none;
    transition: .5s;
}

nav ul li a:hover{
      background: rgb(192, 5, 5);
      color:black;
      text-decoration:none;
      
}
 /* this is our social icon style */

 .rightside{
    position: absolute;
    top:35%;
    right: 5%; 
    z-index: 10;
}
  


.leftside{
    position: absolute;
    top:35%;
    left:0%;
    z-index: 10;
}
.leftside li,.rightside li{
    list-style-type: none;
    padding: 10px;
    transition: .5s;
    position: relative;
    background: rgba(199, 7, 7, 0.829);
    border-radius:20%; 
    margin-bottom: 10px;
}
.leftside li a,.rightside li a{
    font-size:30px; 
    text-decoration: none;
    color: rgb(0, 0, 0);
   
}
.git{
    position: fixed;
    bottom: 8%;
    right: 1.5%;
    z-index: 100000;
    
    
}
.git li{
    list-style-type: none;
    background: rgb(180, 2, 2);
    padding: 10px;
    border:7px double black;
    transition: .5s;
}
.git li a{
    font-size:16px; 
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
  
    
}
.leftside li:hover,.rightside li:hover,.git li:hover{
    background: rgb(238, 235, 235);
  /* transform: rotate(360deg); */
  transform: scale(1.2,1.2)

}



/* rest css*/
.typed-cursor.typed-cursor--blink{
    color: red;
    
    
}
.aboutme,.thisalso{
    text-shadow: 1px 1px 0 rgba(249,77,77,1) , -1px -1px 0 rgba(249,77,77,1) , 1px -1px 0 rgba(249,77,77,1) , -1px 1px 0 rgba(249,77,77,1) , 4px 4px 8px rgba(255,0,0,1) , -4px 4px 8px rgba(252,0,16,1) , 4px -4px 8px rgba(255,2,2,1) , -4px -4px 8px rgba(135,44,44,1) ;
    display:inline-block;
    color:rgb(0, 0, 0);
    margin:0;
    padding:0;
    letter-spacing: 2px;

}
.thisalso{
    position: absolute;
    bottom:40px;

    color:rgb(0, 0, 0);
    font-size:30px;
    width: 100%;
    text-align: center;
}
.this-text{
    margin:auto;
    padding-top:30px;  
    text-align: center;
    font-size:20px;
}
@media (max-width:540px){
    .isometric{
        top:60%;
        height: 230px;
        width: 230px;
    }

    .aboutme,.thisalso{
        font-size: 16px;
    }
}

/* skills page */






